In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_set=pd.read_csv("Salary_Data.csv")

In [27]:
type(data_set)
data_set.iloc[0]
print(list(data_set))
data_set.Salary
data_set['Salary']
data_set["job?"]='yes'
data_set['job?'][5]='no'
data_set

['YearsExperience', 'Salary', 'job?']

C:\Users\amanr\AppData\Local\Temp\ipykernel_6756\446405770.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set['job?'][5]='no'

    YearsExperience    Salary job?
0               1.1   39343.0  yes
1               1.3   46205.0  yes
2               1.5   37731.0  yes
3               2.0   43525.0  yes
4               2.2   39891.0  yes
5               2.9   56642.0   no
6               3.0   60150.0  yes
7               3.2   54445.0  yes
8               3.2   64445.0  yes
9               3.7   57189.0  yes
10              3.9   63218.0  yes
11              4.0   55794.0  yes
12              4.0   56957.0  yes
13              4.1   57081.0  yes
14              4.5   61111.0  yes
15              4.9   67938.0  yes
16              5.1   66029.0  yes
17              5.3   83088.0  yes
18              5.9   81363.0  yes
19              6.0   93940.0  yes
20              6.8   91738.0  yes
21              7.1   98273.0  yes
22              7.9  101302.0  yes
23              8.2  113812.0  yes
24              8.7  109431.0  yes
25              9.0  105582.0  yes
26              9.5  116969.0  yes
27              9.6  112635.0  yes
28             10.3  122391.0  yes
29             10.5  121872.0  yes